<div class="container" id="contact-mmanager">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1>Contact manager</h1>
        <a class="btn btn-danger" id="add-contact">Add contact</a>
        <a class="btn btn-warning" id="add-group">Add group</a>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="list-region"></div><!--- contacts list -->
      <div id="group-list-region"></div><!--- groups list -->
    </div>

    <div class="col-md-9">
      <div id="message-region"></div>
      <div id="main-region"></div><!--- main content -->
    </div>
  </div>
</div>