<div class="panel panel-default">
  <div class="panel-heading">Groups <span class="pull-right" id="groups-count"></span></div>
  <div class="panel-body">
    <ul class="list-unstyled">
    </ul>
  </div>
</div>